{%extends 'base.html'%}
{%block body_block%}  
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
                    <tr>
                        <th>NAME</th>
                        <th>NUMBER</th>
                        <th>TYPE</th>
                        <th>MODEL</th>
                        <th>DESCRIPTION</th>
                    </tr>
                    {%for vehicle in vehicles%}
                        <tr>
                            <td>{{vehicle.name}}</td>
                            <td>{{vehicle.number}}</td>
                            <td>{{vehicle.type}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.description}}</td>
                            <td>
                                {% comment %} <a href="{%url 'book-detail' book.id%}" class="btn btn-outline-info">Details</a> {% endcomment %}
                                {% comment %} <a href="{%url 'book-delete' book.id%}" class="btn btn-outline-danger">Remove</a>
                                <a href="{%url 'book-change' book.id%}" class="btn btn-outline-primary">Edit</a> {% endcomment %}
                            </td>
                           
                        </tr>
                    {%endfor%}
                </table>               
            </div>
            <div class="col-2">
    
            </div>
        </div>
    </div>
{%endblock%}